---
import Layout from "../../../layouts/Layout.astro";
import { PublicReportFormWithProvider } from "../../../components/public-report/PublicReportFormWithProvider";

export const prerender = false;

const { token } = Astro.params;

if (!token) {
  return Astro.redirect("/404");
}
---

<Layout title="Raport dzienny - RouteLog">
  <main class="min-h-screen bg-gray-50 py-8">
    <PublicReportFormWithProvider client:load token={token} />
  </main>
</Layout>
